

.container {
	background-image: url('../../assets/landingPageBg.jpg');
	background-size: cover;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}

.btn {
border-bottom: 5px 5px solid black;
width: 250px;
height: 40px;
border-radius: 10px;
font-size: 30px;
font-weight: 500px;
color: rgb(255, 255, 5);
background-color: rgb(255, 255, 255);
font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.btn:hover {
	background-color:rgb(204, 201, 201) ;
}

.title{
	font-size: 150px;
	width: 800px;
	color: rgb(255, 255, 0);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin-bottom: 10px;

}

.description{
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin-top: 30px;
	background:rgba(255, 255, 255, 0.911);
	font-size:18px;
	width: 600px;
	height: auto;
	border-radius: 10px;
}

