.container {
	background-image: url('../../assets/landingPageBg.jpg');
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.btn {
	width: 250px;
	padding: 10px;	
	border: none;
	border-radius: 15px;
	font-family: 'cursive';
	font-size: 25px;
	box-shadow: 2px 4px 10px #3b3a30;
	margin-bottom: 60%;
	background-color: #F2F3F4;
	box-shadow: 10px 20px 50px black;
	border-bottom:2px solid;
}

.btn:hover {
	background-color: #E5E7E9;
	box-shadow:0 0 20px #fafa04,0 0 40px #fafa04,0 0 80px #fafa04;
}

.title {
	justify-content: center;
	text-align: center;
	margin-bottom: 30px;	
	font-size: 100px;
	font-family: fantasy;
	color: #fdf904;
	text-shadow: 20px 20px 50px #1f1e1d;
	

}